.lanyard-wrapper {
  position: absolute;
  top: -2rem;
  right: -88%;
  z-index: 9999;
  width: 200%;
  height: 310px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  pointer-events: none;
}
